@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .slider
    width: 100%
  .booking
    width: 340px
  .map
    width: 340px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 93%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 26px
      padding-bottom: 26px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      outline: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-stars
      flex-basis: auto
      margin-bottom: 0
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px

  .swiper-container
    height: 350px
  .slider
    width: 100%
    margin-top: 18px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 93%
      padding: 92px 0

@media (max-width: 576px)
  .container
    width: 87%
  .logo
    width: 99px
  .swiper-container
    height: 250px
  .hotel
    &__slider
      margin-bottom: 20px
  .slider
    &-button
      background-size: 4px
      width: 12px
      height: 12px
      &--next
        right: 10px
      &--prev
        left: 10px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      margin-bottom: 5px
      &__strong
        font-size: 30px
        line-height: 37px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
