@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
    &-right
      flex-direction: row
  .booking
    width: 340px
    height: 210px
  .map
    width: 340px
    height: 210px
  .newsletter
    padding: 92px 0 93px 0
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 580px
    &__title
      font-size: 30px
      line-height: 37px
      margin-bottom: 50px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 45px
    &__input
      width: 255px
      flex-basis: 47%
    &__logo
      margin-top: 0
      width: 100px
      grid-row: 1 / 2
      grid-column: span 2
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-left: 0
    &__additional
      grid-column: span 2
      margin-left: -45px
    &__legal
      grid-column: span 2
      margin-left: 5px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-left: -60px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        width: 539px
        grid-row: 4
        margin-top: -5px
    &__icon
      margin-left: 8px
    &__title
      &--message
        width: 539px
        margin-left: 0
    &__form
      margin-left: 0
    &__button
      margin-left: 0
    &__contacts
      &-input
        margin-left: 0
  .cards
    margin-top: 56px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 93%
  body
    padding-top: 70px
  .navbar
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__search
      &_mobile
        &_visible
          width: 243px
          margin-bottom: 37px
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 31px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &__mobile
          &_visible
            display: block
    &-top
      padding-top: 26px
      padding-bottom: 26px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      outline: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
        margin-bottom: 15px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-stars
      flex-basis: auto
      margin-bottom: 0
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      width: 100%
      margin-top: 18px
      &__item
        height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    padding-top: 74px
    max-height: 319px
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 576px
      width: 93%
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        margin-bottom: 37px
  .subscribe
    margin-bottom: 80px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
    &__title
      font-size: 18px
      line-height: 23px
  .activities
    padding-top: 40px
    padding-bottom: 40px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 48%
    height: 255px
  .footer
    padding-top: 70px
    padding-bottom: 30px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__link
      margin-left: 5px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__additional
      grid-row: 4
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        width: 100%
      &-form
        grid-row: 7
        grid-column: 1
        width: 100%
    &__item
      margin-left: -5px
    &__title
      &--contact
        margin-top: 10px
      &--message
        margin-top: 10px
        margin-bottom: 15px
    &__input
      width: 100%
      flex-basis: 100%
    &__message
      width: 100%
      flex-basis: 100%
      margin-bottom: 15px
    &__nav
      &-cards
        font-size: 11px
        line-height: 15px
  .cards
    margin-top: 30px

@media (max-width: 576px)
  .container
    width: 87%
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      &__item
        height: 250px
      &__button
        background-size: 4px
        width: 12px
        height: 12px
        &--next
          right: 10px
        &--prev
          left: 10px
  .newsletter
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 37px
  .subscribe
    width: 100%
  .reviews
    &-slider
      &__button
        &--prev
          margin-left: -90px
        &--next
          margin-right: -90px
      &__text
        text-align: left
    &__title
      margin-bottom: 42px
  .card
    width: 100%
  .card-1
    order: 1
  .card-2
    order: 3
  .card-3
    order: 2
  .card-4
    order: 4
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &__social
      &-network
        display: flex
        flex-direction: column
        margin-left: 0
      &-links
        margin-top: 22px
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        width: 280px
      &-form
        grid-row: 7
        grid-column: 1
        width: 280px
    &__item
      margin-left: -5px
    &__title
      &--contact
        margin-top: 10px
      &--message
        margin-top: 10px
        margin-bottom: 15px
    &__input
      width: 281px
      flex-basis: 100%
    &__message
      width: 281px
      flex-basis: 100%
      margin-bottom: 15px
    &__contacts
      &-input
        align-items: start
        flex-direction: column
    &__info
      order: -1
      margin-bottom: 15px
    &__button
      order: 1
    &__cards
      margin-top: 10px
    &__nav
      &-cards
        font-size: 11px
        line-height: 15px
  .cards
    margin-top: 30px
    &-wrapper
      flex-direction: column
